/* global styles start */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body{
    font-family: 'Inter';
}

img {
    max-width:  100%;
    display:    block;
}

a{
    text-decoration: none;
    color: #2E363E;
}

ul{
    list-style-type: none;
}

.container{
    max-width:      1180px;
    margin-left:    auto;
    margin-right:   auto;
}

/* global styles end */

/* header start */

.wrapper-header{
    display:            flex;
    justify-content:    space-between;
    align-items:        center;
    padding:            50px 0;
}

.wrapper-nav{
    display:            flex;
    justify-content:    space-between;
    align-items:        center;
}

.logo{
    font-family:        'Reem Kufi';
    text-transform:     uppercase;
    font-size:          25px;
    line-height:        1.5;
    margin-right:       145px;
    font-weight:        400;
    color:             #5F0A61;
}

.logo:hover{
    color:             #8E0292;
}

.nav{
    display:            flex;
    gap:                40px;
    margin-top:         5px;
    font-size:          18px;
    line-height:        1.5;
    font-weight:        500;
}

.nav-link:hover,
.nav-link:focus{
    color:             #5F0A61;
}

.address{
    font-size:      18px;
    line-height:    1.5;
}

.address-link{
    color:          #5F0A61;
    font-weight:    700;
}

.address-link:hover{
    color:          #8E0292;
}

/* header end */

/* hero start */

.wrapper-hero{
    display:        flex;
    justify-content: space-between;
    gap:            0 27px;
    padding:        80px 0;
}

.wrapper-hero-title{
    display:        flex;
    flex-direction: column;
    gap:            25px 0;
    margin-top:     auto;
    margin-bottom:  auto;
}

.title-main{
    font-size:      48px;
    line-height:    1.3;
    font-weight:    700;
    letter-spacing: -1px;
}

.p-main{
    font-size:      21px;
    line-height:    1.6;
    font-weight:    400;
    letter-spacing: -0.2px;
}

.internet-img{
    max-width:      571px;
    max-height:     560px;
    flex-shrink:    0;
}

.btn-submit{
    background-color: #5F0A61;
    padding:            20px 50px;
    color:            #fff;
    font-size:          21px;
    font-weight:        600;
    letter-spacing:    -0.2px;
    border:             0;
    cursor:             pointer;
    border-radius:      5px;
    max-width:          337px;
    max-height:         70px;
}

.btn-submit:hover,
.btn-submit:focus{
    background-color: #8E0292;
}

/* hero end */

/* choose company start */

.choose-company{
    padding:        172px 0;
}

h2{
    font-size:      36px;
    line-height:    1.33;
    font-weight:    700;
    color:        #000;
    text-align:     center;
}

.choose-ul{
    display:            flex;
    justify-content:    space-between;
    gap:                0 52px;
    padding:            60px 0;
}

.choose-img {
    text-align:         center;
    margin-left:        auto;
    margin-right:       auto;
    margin-bottom:      11px;
}

.title-choose-li{
    font-size:          22px;
    font-weight:        700;
    line-height:        1.43;
    text-align:         center;
}

.p-choose{
    font-size:          18px;
    font-weight:        400;
    line-height:        1.5;
}

/* choose company end */

/* connect next day START */

.wrapper-next-day{
    display:         flex;
    justify-content: space-between;
    gap:             95px;
    padding:         175px 0;
}

.wrapper-connect-title{
    display:        flex;
    flex-direction: column;
}

.titile-connect{
    max-width:      375px;
    letter-spacing: -1px;
    text-align:     left;
    margin-bottom:  20px;
}

.p-connect{
    font-size:      21px;
    line-height:    1.43;
    font-weight:    400;
    letter-spacing: -0.2px;
    color:        #434B53;
    margin-bottom:  28px;
}

.total-number{
    display:        flex;
    gap:            0 71.3px;
}

.p-number{
    font-size:      30px;
    line-height:    1.33;
    font-weight:    700;
    color:        #5F0A61;
}

.p-text-under-number{
    font-size:      14px;
    line-height:    1.5;
    font-weight:    400;
    max-width:      167px;
    color:        #2E363E;
}

/* connect next day END */

/* feedback START */

.feedback{
    padding:        175px 0;
}

.wrapper-feedback-section{
    display:            flex;
    justify-content:    space-between;
    align-items:        center;
    width:              1178px;
    height:             639px;
    flex-shrink:        0;
    border-radius:      10px;
    border:             1px solid #5F0A61;
    margin-top:         60px;
    padding:            108px 190px 127px 151px;
}

.wrapper-feedback{
    display:            flex;
    flex-direction:     column;
    gap:                24px 0;
    max-width:          536px;
}

.title-feedback{
    font-size:          30px;
    line-height:        1.43;
    font-weight:        500;
    max-width:          450px;
    color:            #2E363E;
}

.p-feedback{
    font-size:          15px;
    line-height:        1.7;
    font-weight:        400;
    color:            #2E363E;
}

.feedback-link{
    font-family:       'Montserrat';
    text-decoration:    underline;
    font-size:          17px;
    line-height:        1.5;
    font-weight:        400;
    color:            #5F0A61;
}

.feedback-link:hover,
.feedback-link:focus {
    color:            #8E0292;
}

.wrapper-hancock{
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    font-family:       'Montserrat';
}

.h3-hancock{
    font-size:          21px;
    line-height:        1.43;
    font-weight:        500;
    color:            #2E363E;
    margin-top:         21px;
    margin-bottom:      5px;
}

.p-city{
    font-size:          16px;
    line-height:        1.7;
    font-weight:        400;
}

/* feedback END */

/* tariff START */



/* tariff END */